.header-section {
  padding-top: 15px;

  p {
    padding-top: 10px;
  }
}

.search-form {
  padding-top: 15px;
}

.map-section {
  padding-top: 15px;

  img {
    border: 1px solid black;
  }
}

.result-section_item {
  width: 300px;
  border: 1px solid black;
  text-align: center;

  h2 {
    padding-top: 15px;
  }

  li {
    padding: 15px 0;
  }

  img {
    padding: 10px 0;
  }
}
